@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto in Gestionale MedeXpress</h1>
    
        <a class="btn btn-primary" href="@Url.Action("Index", "Orders")">Visualizza Ordini</a>
    </p>
</div>
